backports.functools-lru-cache==1.4
cycler==0.10.0
matplotlib==2.1.2
numpy==1.14.0
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
torch==0.3.0.post4
torchvision==0.2.0
cffi==1.11.4
cython==0.27.3
tqdm==4.19.5
opencv-python==3.4.0.12
h5py==2.7.1
ipdb==0.10.3
